/* 로그인 폼 박스 */
input, button {
    box-sizing: border-box;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    flex: 1;
    gap: 20px;
    margin-top: 70px;
}

label {
    display: block;
    font-size: 14px;
    text-align: left;
    width: 320px;
    margin-bottom: 4px;
}

input {
    width: 320px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login_button {
    width: 320px;
    padding: 8px;
    font-size: 16px;
    background-color: #ad68da;
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.5;
}

.login_button:hover {
    background-color: #ad68da;
    opacity: 1;
}

.redirect-button{
    width: 280px;
    padding: 8px;
    font-size: 14px;
    background-color: white;
    border: 0 solid #ccc;
    display: block;
    margin: 10px auto 0;
    cursor: pointer;
}

/* ✅ 프로필 업로드 박스 */
.image-upload {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 0 solid #000;
    background-color: #aaa;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 24px;
    transition: border-color 0.3s, color 0.3s;
}

/* 숨겨진 파일 input */
.image-upload input {
    display: none;
}

/* 업로드된 이미지 미리보기 */
.image-upload img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.read-only{
    border: none;
    background-color: transparent;
    color: black;
    pointer-events: none; /* 클릭 불가 */
    outline: none;
    padding: 0;
}


.back-btn {
    position: absolute;
    left: 520px;
    margin-top: 36px;
    top: 0;
    font-size: 32px;
    cursor: pointer;
    background: none;
    border: none;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.error-message{
    color: red;
    font-size: 0.8rem;
    margin-top: 2px;
}