name: Express Docker CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  express-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm

      - name: Install Dependencies
        run: npm install

      - name: Run Tests
        run: npm test

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build $ Push Express Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/community-fe:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/community-fe:latest
          


